html {
    font-family: 'Arial';
}

.content .markdown code, .content .markdown pre {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    background-color: #f7f7f7;
}

.font-extrabold {
    font-weight: 540;
}

.font-semibold {
    font-weight: 500;
}

/** Content Layout Width **/
.max-w-prose {
    max-width: 95ch;
}

img{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 100%; height: auto;
}

/** Code **/
.prose :where(pre):not(:where([class~=not-prose] *)) {
    font-weight: 300;
    font-size: .745em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.prose :where(h3):not(:where([class~=not-prose] *)) {
    font-weight: 500;
}

.prose :where(h4):not(:where([class~=not-prose] *)) {
    font-weight: 500;
}

.prose :where(li):not(:where([class~=not-prose] *)) {
    margin-top: -0.3em;
    margin-bottom: -0.3em;
}

.prose :where(a):not(:where([class~=not-prose] *)) {
    text-decoration: inherit;
}


.content .post-item .meta a:hover {
    text-decoration: underline;
}